{% block subject %}
    {% spaceless %}
        Specialty School Application Writing Prompt
    {% endspaceless %}
{% endblock subject %}

{% block body_text %}
Hi {{ submission.firstName }} {{ submission.lastName }},

In order to complete your application to the Specialty School Program, you need to submit a writing sample.

Please visit the link below and complete the writing sample.
{{ writingSampleURL }}

This is an automated email message from a mailbox that does not accept replies.  {{ 'magnet.contact'|trans|raw }}

Thanks,
Specialty School Program
{% endblock body_text %}

{% block body_html %}

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- If you delete this meta tag, Half Life 3 will never be released. -->
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Writing Sample Email</title>
    </head>
    <body bgcolor="#FFFFFF" style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100% !important;height: 100%">

    <!-- HEADER -->
    {{ header | raw}}
    <!-- /HEADER --><!-- BODY -->
    <table class="body-wrap" style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;width: 100%">
        <tr style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif">
            <td style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif"> </td>
            <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto !important;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;display: block !important;max-width: 600px !important;clear: both !important">

                <div class="content" style="margin: 0 auto;padding: 15px;font-family: Helvetica, Helvetica, Arial, sans-serif;max-width: 600px;display: block">
                    <table style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;width: 100%">
                        <tr style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif">
                            <td style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif">

                                <h3 style="margin: 0;padding: 0;font-family: HelveticaNeue-Light, Helvetica, Arial, Lucida Grande, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 500;font-size: 27px">Hi {{ submission.firstName }} {{ submission.lastName }},
                                </h3>

                                <p style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: 400;font-size: 14px;line-height: 1.6">In order to complete your application to the Specialty School Program, you need to submit a writing sample.
                                </p>

                                <p style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: 400;font-size: 14px;line-height: 1.6">Please visit the link provided and complete the writing sample. <a target="_blank" title="Click here to Complete the Writing Sample" href="{{ writingSampleURL }}">{{ writingSampleURL }}</a>.
                                </p>

                                <p style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: 400;font-size: 14px;line-height: 1.6">This is an automated email message from a mailbox that does not accept replies. {{ 'magnet.contact'|trans|raw }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->
            </td>
            <td style="margin: 0;padding: 0;font-family: Helvetica, Helvetica, Arial, sans-serif"> </td>
        </tr>
    </table>
    <!-- /BODY --><!-- FOOTER -->
    {{ footer | raw }}
    <!-- /FOOTER --></body>
    </html>


{% endblock body_html %}