{% extends '@IIABMagnet/Admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="panel panel-default">
        {{ include('@IIABMagnet/Admin/ProgramProcessing/header.html.twig') }}
    </div>

    {{ render( controller('IIABMagnetBundle:ProgramProcessing:processingStatus') ) }}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                    </li>
                    <li role="presentation">
                        <a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Processing</a>
                    </li>
                    <li role="presentation">
                        <a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Individual Processing</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" role="tabpanel" id="settings">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Settings</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_row(form.waitListExpireTime) }}
                                            <p>After this date, all submissions will be changed to status of Denied Due to Space</p>
                                        </div>
                                    </div>
                                </div>
                                {% if form.saveSettings is defined %}
                                    <p>&nbsp;</p>
                                    <div class="pull-left">{{ form_widget(form.saveSettings) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="all">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">All Processing</h3></div>
                            <div class="panel-body">
                                {% if form.populationToAward is defined and form.populationToAward is not empty %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table not-fixed table-hover table-bordered table-condensed">
                                                {% if form.processWaitList2 is defined %}
                                                <thead>
                                                <tr>
                                                    <th colspan="2">&nbsp;</th>
                                                    <th width="11%">Total Capacity</th>
                                                    <th width="11%">Wait Listed</th>
                                                    <th width="11%">Available Slots</th>
                                                    <th width="11%">Slots to Award</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="2">&nbsp;</th>
                                                    <th>Total Capacity</th>
                                                    <th>Wait Listed</th>
                                                    <th>Available Slots</th>
                                                    <th>Slots to Award</th>
                                                </tr>
                                                </tfoot>
                                                {% else %}
                                                    <thead>
                                                    <tr>
                                                        <th colspan="4">&nbsp;</th>
                                                        <th class="text-center" width="14%">Slots Currently Processing</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <th colspan="4">&nbsp;</th>
                                                        <th class="text-center" width="14%">Slots Currently Processing</th>
                                                    </tr>
                                                    </tfoot>
                                                {% endif %}
                                                <tbody>
                                                {% set lastProgram = '' %}
                                                {% for population in form.populationToAward %}
                                                    {% if population.vars.value.magnetSchool.program.name != lastProgram %}
                                                        {% if lastProgram != '' %}
                                                            <tr>
                                                                <td colspan="5">&nbsp;</td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td colspan="5" class="info">{{ population.vars.value.magnetSchool.program.name }}</td>
                                                        </tr>
                                                        {% set lastProgram = population.vars.value.magnetSchool.program.name %}
                                                    {% endif %}
                                                    <tr{% if form.processWaitList2 is not defined %} class="hide"{% endif %}>
                                                        <td colspan="2" class="pushFirstColumn">{{ population.vars.value.magnetSchool }} {{ population.vars.value.focus_area }}
                                                        </td>
                                                        <td>{{ form_widget(population.maxCapacity , {'attr': {'class':'form-control watch-for-change'} } ) }}</td>
                                                        <td>{{ form_widget(population.waitListTotal , {'attr': {'class':'form-control watch-for-change'} } ) }}</td>
                                                        <td>{{ form_widget(population.availableSlots , {'attr': {'class':'form-control watch-for-change'} } ) }}</td>
                                                        <td>{{ form_widget(population.slotsToAward , {'attr': {'class':'form-control watch-for-change', 'data-original-value': population.slotsToAward.vars.value} } ) }}</td>
                                                    </tr>
                                                    {% if form.processWaitList2 is not defined %}
                                                        <tr>
                                                            <td class="pushFirstColumn" colspan="4">{{ population.vars.value.magnetSchool }}</td>
                                                            <td class="text-center">{% if lastWaitListProcessing[population.vars.value.magnetSchool.id] is defined %}{{ lastWaitListProcessing[population.vars.value.magnetSchool.id].availableSlots }}{% else %}0{% endif %}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.populationOnlineEndTime) }}
                                                {{ form_widget(form.populationOnlineEndTime) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.populationOfflineEndTime) }}
                                                {{ form_widget(form.populationOfflineEndTime) }}
                                            </div>
                                        </div>
                                        <div class="clear clearfix"></div>
                                        <div class="col-md-6" style="margin-top:20px;">
                                            <div class="form-group">
                                                {{ form_label(form.mailDateSettingAll) }}
                                                {{ form_widget(form.mailDateSettingAll) }}
                                            </div>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                    {% if form.processWaitList2 is defined %}
                                        <div class="pull-right">{{ form_widget(form.processWaitList2) }}</div>
                                    {% else %}
                                        <div class="pull-right">You cannot process the Wait List until all offers have been accepted or declined.</div>
                                    {% endif %}
                                    <div class="clear clearfix"></div>
                                {% else %}
                                    <p>How did I get here.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="individual">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Individual Processing</h3></div>
                            <div class="panel-body">

                                {% if form.individualPopulation is defined and form.individualPopulation is not empty %}
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom:20px;">
                                        <label>Add a School to Individually Process:
                                        <select id="addSchool">
                                            <option value="">Choose an Option</option>
                                            {% set lastProgram = '' %}
                                            {% set lastSchool = '' %}
                                            {% for individual in form.individualPopulation %}
                                                {% if individual.vars.value.magnetSchool.program.name != lastProgram %}
                                                    {% if lastProgram != '' %}
                                                        </optgroup>
                                                    {% endif %}
                                                    <optgroup label="{{ individual.vars.value.magnetSchool.program.name }}">
                                                    {% set lastSchool = '' %}
                                                    {% set lastProgram = individual.vars.value.magnetSchool.program.name %}
                                                {% endif %}

                                                    {% if lastSchool != individual.vars.value.magnetSchool.id %}
                                                        <option value="{{ individual.vars.value.magnetSchool.id }}">{{ individual.vars.value.magnetSchool }}</option>
                                                        {% set lastSchool = individual.vars.value.magnetSchool.id  %}
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        </select></label>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table not-fixed table-hover table-bordered table-condensed individual-table hide">
                                            <thead>
                                            <tr>
                                                <th>School - Grade</th>
                                                <th>Current Enrolled Student Withdrawn?</th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                                <th width="10%">Wait Listed</th>
                                                <th width="10%">Available Slots</th>
                                                <th width="10%">Slots To Award</th>
                                                <th width="2%">&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>School - Grade</th>
                                                <th>Current Enrolled Student Withdrawn?</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>Wait Listed</th>
                                                <th>Available Slots</th>
                                                <th>Slots To Award</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            {% for individual in form.individualPopulation %}
                                                <tr data-individual-id="{{ individual.vars.value.magnetSchool.id }}" class="hide">
                                                    <td class="pushFirstColumn">{{ form_widget(individual.individual) }}{{ individual.vars.value.magnetSchool }} {{ individual.vars.value.focus_area }}</td>
                                                    <td>{{ form_widget(individual.fillingSlots , { 'attr' : { 'class' : 'form-control fillingSlot' } }) }}</td>
                                                    <td colspan="5" class="hideMe-for-either">&nbsp;</td>
                                                    <td colspan="3" class="hideMe-for-yes hide">&nbsp;</td>
                                                    <td class="hide yesChange"><label>Black</label> {{ form_widget(individual.CPBlack , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.CPBlack.vars.value}}) }}</td>
                                                    <td class="hide yesChange"><label>White</label> {{ form_widget(individual.CPWhite , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.CPWhite.vars.value}}) }}</td>
                                                    <td class="hide yesChange"><label>Other</label> {{ form_widget(individual.CPOther , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.CPOther.vars.value}}) }}</td>
                                                    <td class="hide noChange">{{ form_widget(individual.waitListTotal , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.waitListTotal.vars.value}}) }}</td>
                                                    <td class="hide noChange">{{ form_widget(individual.availableSlots , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.availableSlots.vars.value}}) }}</td>
                                                    <td class="hide noChange">{{ form_widget(individual.slotsToAward , { 'attr':{'class':'form-control watch-for-change', 'data-original-value': individual.slotsToAward.vars.value}}) }}</td>
                                                    <td style="text-align: center;vertical-align: middle;"><button style="float: none;" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                                                </tr>

                                                {% if individual.vars.value.HomeZone is defined %}
                                                    <tr data-individual-id="{{ individual.vars.value.magnetSchool.id }}" class="hide">
                                                    <td colspan=2></td>
                                                    {% set zone_column = 0 %}
                                                    {% for zone_index, zone in individual.vars.value.HomeZone %}
                                                        <td class="hide yesChange">
                                                            <label>{{ zone_hash[zone_index] }}</label>
                                                            {{ form_widget(individual[zone_index], { 'attr':{'class':'form-control watch-for-change'} }) }}</td>
                                                        {% set zone_column = zone_column + 1 %}

                                                        {% if zone_column == 3 %}
                                                        </tr>
                                                        <tr data-individual-id="{{ individual.vars.value.magnetSchool.id }}" class="hide">
                                                        <td colspan=2></td>
                                                        {% set zone_column = 0 %}
                                                        {% endif %}

                                                    {% endfor %}

                                                    </tr>
                                                {% endif %}


                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.individualOnlineEndTime) }}
                                            {{ form_widget(form.individualOnlineEndTime) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.individualOfflineEndTime) }}
                                            {{ form_widget(form.individualOfflineEndTime) }}
                                        </div>
                                    </div>
                                    <div class="clear clearfix"></div>
                                    <div class="col-md-6" style="margin-top:20px;">
                                        <div class="form-group">
                                            {{ form_label(form.mailDateSettingIndividual) }}
                                            {{ form_widget(form.mailDateSettingIndividual) }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <p>&nbsp;</p>
                                {% if form.processWaitListIndividual is defined %}
                                    <div class="pull-right">{{ form_widget(form.processWaitListIndividual) }}</div>
                                {% else %}
                                    <div class="pull-right">You cannot process the Wait List until all offers have been accepted or declined.</div>
                                {% endif %}
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}