{% extends '@IIABMagnet/Admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}

    {%  if downloadFiles is defined %}
        {{ render( controller('IIABMagnetBundle:ProgramProcessing:processingStatus') ) }}
    {% endif %}

    <div class="sonata-ba-form">
        <section class="content-header">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header"><span class="navbar-brand">{{ title }}</span></div>
            </nav>
        </section>
        <section class="content">
            <div class="sonata-ba-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">

                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">{{ subtitle }}</h4>
                                </div>
                                <div class="box-body">
                                    {{ form_start(form) }}
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                            {%  if downloadFiles is defined and downloadFiles %}
                                {% for download in downloadFiles %}
                                    <div class="box box-downloads">
                                        <div class="box-header">
                                            <h4 class="box-title">{{ download.header }}</h4>
                                        </div>

                                        <div class="box-body">
                                            <ul>
                                                {% for file in download.files %}
                                                    <li><a target="_blank" href="{{ asset( download.directory ~ file ) }}">{{ file }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            {%  endif %}

                            {% if hideWarning is defined and hideWarning %}

                            {% else %}
                                <div class="alert alert-warning" role="alert">Large number of Submission will take a minute or two to build. Please be patient and wait for the download box to popup.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock sonata_admin_content %}

