{{ header | raw }}

<p>
    Dear Parent:
</p>

<p>
    Please take this document to your student’s current homeroom teacher so that they may submit the electronic Learner Profile Screening Device required for your student’s application.
</p>

<hr>

<p>
    Homeroom Teacher:
</p>

<p>
    Please use the following link to complete the electronic Learner Profile Screening Device for {{submission.firstName}} {{submission.lastName}} {{submission}}.
</p>

<p>
    {{profile_url}}
</p>

<p><strong>
    This electronic form must be completed by Friday, February 16, 2018.
</strong></p>

{{ footer |raw }}